:root {
	@supports (background: linear-gradient(in oklch, red, tan)) {
		--in-oklch: in oklch;
	}
}

:root {
	--color-red: oklch(54% 0.24 25);
	--color-orange: oklch(74% 0.19 58);
	--color-yellow: oklch(88% 0.2 95);
	--color-green: oklch(70% 0.24 135);
	--color-cyan: oklch(69% 0.15 205);
	--color-blue: oklch(56% 0.24 260);
	--color-indigo: oklch(50% 0.27 275);
	--color-purple: oklch(57% 0.27 292);
	--color-magenta: oklch(60% 0.25 10);
	--color-gray: oklch(54% 0.04 250);

	--font-sans: Inter, "Helvetica Neue", Helvetica, system-ui, sans-serif;
	--font-serif: Vollkorn, "Hoefler Text", Garamond, serif;
	--font-cursive: Zapfino, "Apple Chancery", BrushScriptMT, cursive;
	--font-handwritten: Excalifont;
	--font-monospace: Consolas, Inconsolata, Noto Sans Mono, Source Code Pro, Roboto Mono, Menlo, Monaco, monospace;
	--font-mono: var(--font-monospace);

	--font-body: var(--font-sans);
	--font-heading: var(--font-body);

	/*
	 * Colors by visual appearance
	 */

	/*
	 * Colors by semantic purpose
	 */
	--color-accent-1: var(--color-cyan);
	--color-accent-2: var(--color-magenta);
	--color-accent-3: var(--color-green);
	--color-accent-4: var(--color-orange);
	--color-accent-5: var(--color-blue);
	--color-accent-6: var(--color-yellow);
	--color-neutral: var(--color-gray);

	--color-neutral-10: var(--color-gray-10);
	--color-neutral-20: var(--color-gray-20);
	--color-neutral-30: var(--color-gray-30);
	--color-neutral-40: var(--color-gray-40);
	--color-neutral-50: var(--color-gray-50);
	--color-neutral-60: var(--color-gray-60);
	--color-neutral-70: var(--color-gray-70);
	--color-neutral-80: var(--color-gray-80);
	--color-neutral-90: var(--color-gray-90);

	--ui-border-s: 1px solid light-dark(var(--color-neutral-90), var(--color-neutral-40));
	--ui-border-m: 1px solid light-dark(var(--color-neutral-80), var(--color-neutral-50));
	--ui-border-l: 1px solid light-dark(var(--color-neutral-70), var(--color-neutral-60));
	--ui-border: var(--ui-border-m);

	--font-size-xs-abs: var(--font-size-xs);
	--font-size-s-abs: var(--font-size-s);
	--font-size-m-abs: var(--font-size-m);
	--font-size-l-abs: var(--font-size-l);
	--font-size-xl-abs: var(--font-size-xl);
	--font-size-2xl-abs: var(--font-size-2xl);
	--font-size-3xl-abs: var(--font-size-3xl);

	--font-weight: 300;

	--lh-body: 1.5;
	--lh-heading: 1.1;

	--img-checkerboard: repeating-conic-gradient(rgb(0 0 0 / .12) 0 25%, transparent 0 50%) 0 0 / 40px 40px;
}

:root, .slide {
	--font-size-xs: .7em;
	--font-size-s: .85em;
	--font-size-m: 1em;
	--font-size-l: 1.25em;
	--font-size-xl: 1.5em;
	--font-size-2xl: 2em;
	--font-size-3xl: 2.5em;
	--font-size-4xl: 5em;

	--radius-s: .2em;
	--radius-m: .5em;
	--radius-l: .7em;
}

.slide {
	--sem: var(--font-size-m);
}
