:root {
	--accent-color: var(--color-neutral);
}

.red {
	--accent-color: var(--color-red);
}

.orange {
	--accent-color: var(--color-orange);
}

.orange.red {
	--accent-color: var(--color-orange-red);
}

.yellow {
	--accent-color: var(--color-yellow);
}

.green {
	--accent-color: var(--color-green);
}

.yellow.green {
	--accent-color: var(--color-yellow-green);
}

.cyan {
	--accent-color: var(--color-cyan);
}

.blue {
	--accent-color: var(--color-blue);
}

.indigo {
	--accent-color: var(--color-indigo);
}

.purple {
	--accent-color: var(--color-purple);
}

.magenta {
	--accent-color: var(--color-magenta);
}

.gray {
	--accent-color: var(--color-gray);
}

.white {
	--accent-color: white;
}

.black {
	--accent-color: black;
}

.red, .orange, .yellow, .green, .cyan, .blue, .indigo, .purple, .magenta, .gray, .white, .black {
	&.bg,
	&:where(.slide):where(:not(.text, .no-bg)) {
		--background-color: var(--accent-color);
		background: var(--background-color);
		--text-color: oklch(from var(--accent-color) var(--tint-text));
		color: var(--text-color);
		--supertitle-color: white;
		--supertitle-color-text: var(--accent-color);
		--tint-code-bg: var(--tint-darker);
	}

	&.text,
	&:where(span, tr, td, th, p, strong, em, small, a):where(:not(.bg, .not-text)) {
		color: var(--accent-color);

		.token {
			color: inherit;
		}
	}
}

.tinted-95 {
	--background-color: oklch(from var(--accent-color, var(--color-neutral)) var(--tint-bg));
	--text-color: oklch(from var(--accent-color, var(--color-neutral)) var(--tint-text));
	color: var(--text-color);
	background: var(--background-color);

	--tint-bg: var(--tint-95);
	--tint-text: var(--tint-10);
	--tint-code-bg: var(--tint-90);
}
