#the-problem {
	background: url(img/coding.png) center / cover black no-repeat;
	transition: 1s background-image;
}

#the-problem[data-step="1"] {
	background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"></svg>') center / 100% 124% black  no-repeat;
}

#the-problem[data-step="2"] {
	background: url(img/frustration.jpg) center / cover black no-repeat;
}

	#the-problem ul {
		position: absolute;
		bottom: 0;
		left: 1em;
		padding: 0;
		list-style: none;
	}

		#the-problem li {
			font-weight: bold;
			font-size: 150%;
			line-height: 1;
			transition: 1s 1.1s transform, 6s 2s font-size;
		}

		#the-problem:not([data-step]) li:not(.special) {
			transform: translateY(-100vh);
		}

	#the-problem:not([data-step]) .special {
		font-size: 300%;
	}

	#the-problem .html {
		color: hsl(10, 100%, 50%);
	}

	#the-problem .css {
		color: hsl(210, 100%, 50%);
	}

#todomvc {
	flex-flow: row;
}

	#todomvc table {
		width: 40vw;
	}

	#todomvc thead th {
		padding-top: 0;
		padding-bottom: 0;
		font-size: 75%;
		background: orange;
	}

	#todomvc img {
		float: right;
	}

#mavo {
	padding: 6em;
}

#todo-code {

}

	#todo-code:not([data-step]) mark {
		background: transparent;
		box-shadow: none;
		text-shadow: none;
	}

.example.slide > div {
	display: flex;
	flex-flow: column;
	align-items: stretch;
	justify-content: center;
}

.vertical.example.slide > div {
	flex-flow: row;
	align-items: stretch;
}

.slide:not(.vertical) .example-container {
	margin-top: 2rem;
}

.vertical.example.slide .example-container {
	min-width: 30vw;
}

.mv-debug-storage {
	margin-top: 3rem;
	border-radius: .3em;
	background: rgba(0,0,0,.5);
	font-weight: bold;
	font-size: 1rem;
}

	.mv-debug-storage:not([open]) {
		width: fit-content;
	}

#form-elements input[type=range],
#form-elements select {
	transform: scale(2.5);
	transform-origin: left;
}

#form-elements select {
	margin-left: 200px;
}

.example.slide ul {
	margin: .3em 0;
}

.example.slide li {
	list-style: none;
}

	.example.slide li::before {
		content: "•";
		position: absolute;
		margin-left: -1em;
		color: orange;
	}
