#for-browser {
	background: #333;
	background-image: linear-gradient(to left, rgba(0,0,0,.5), rgba(0,0,0,.5)), linear-gradient(to left, rgba(0,0,0,.5), rgba(0,0,0,.5));
	background-repeat: no-repeat;
	background-size: 1280px 720px, 1024px 768px;
}

#intro {
	background-image: ;
	background-position: left;
	background-size: cover;
}

	#intro h1 {
		width: 2em;
		background: yellow;
		margin: 0;
		padding: .4em;
		text-align: left;
		font-size: 450%;
		line-height: .8;
		letter-spacing: -.05em;
		font-weight: 300;
		color: black;
		text-align: right;
	}

		#intro h1::first-line {
			font-weight: bold;
		}

	#intro h2 {
		width: 8em;
		margin: .4em 0 0;
		font-size: 160%;
		line-height: 1;
		color: black;
		letter-spacing: -.05em;
		position: absolute;
		right: 0;
		bottom: .8em;
		transform-origin: bottom right;
		transform: rotate(90deg) translateY(2.5em);
		text-align: right;
	}

	#intro .attribution {
		position: absolute;
		bottom: -.5em;
		left: 0;
		right: 0;
		text-align: center;
		color: white;
		font-size: 80%;
	}

		#intro .attribution a {
			text-decoration: none;
		}

.hi {
	padding: 1vmin;
	background: #f06;
	font-size: 200%;
}

	.hi > .delayed:only-child:not(.current):not(.displayed) {
		transform: translateY(-100vh);
	}

	.hi > .delayed:only-child {
		margin: auto;
	}

	.hi p {
		margin: 0;
		padding-top: .5em;
		font: 220%/1 'Reenie Beanie', sans-serif;
	}

	.hi figure {
		margin: 2em auto 0;
		width: fit-content;
		max-height: 99vh;
		background: white;
		padding: 15px;
		box-shadow: 2px 2px 30px black;
		transform: rotate(-2deg);
	}

		.hi figure img {
			max-width: 100%;
			object-fit: cover;
		}

		.hi figure figcaption {
			display: block;
			padding-bottom: .1em;
			text-align: center;
			color: black;
			text-shadow: none;
			font: 300%/.7 'Reenie Beanie', cursive;
		}

		.hi figure img {
			background: url(img/grass.svg), url(img/starburst.svg), linear-gradient(hsl(200, 84%, 85%), hsl(200, 84%, 90%));
			background-position: 50% 200px, 0 -100px, 0 0;
			background-repeat: repeat-x, no-repeat;
			background-size: auto, 100% auto;
		}

		#why-html h1 {
			font-size: 500%;
			margin: auto;
			letter-spacing: -.05em;
		}

#lesbian {
	background: url(img/greece.svg) no-repeat center / auto 90vh #f06;
	background-origin: content-box;
}

	#lesbian[data-step] {
		background-size: auto 850%;
		background-position: 67% 36%;
	}

	#lesbian div {
		position: absolute;
		bottom: 1em;
		left: 1em;
		transition: .5s opacity;
	}

		#lesbian div p:first-of-type {
			position: fixed;
			top: 0;
			font-weight: bold;
			font-size: 300%;
		}

		#lesbian div p:last-of-type {
			font-size: 120%
		}

		#lesbian div p {
			transition: inherit;
			transition-property: height;
			height: 1em;
		}

		#lesbian:not([data-step="2"]):not([data-step="3"]) > div {
			opacity: 0
		}

			#lesbian:not([data-step="3"]) div p:last-of-type {
				height: 0;
				overflow: hidden;
			}

#book {

}

	#book a {
		text-decoration: none;
		color: white;
		font-size: 85%;
		font-weight: bold;
	}

	#book img {
		display: block;
		margin-bottom: 1em;
		box-shadow: 1px 1px #aab, 2px 2px #bbc, 3px 3px #99a, 4px 4px #aab, 5px 5px #889, 6px 6px #99a, 7px 7px #778, 8px 8px #889,
		            8px 8px 10px rgba(0,0,0,.6);
	}

#doing-stuff {}

	#doing-stuff > div {
		max-width: 50vw;
	}

.hi ul {
	line-height: 1.7;
	margin: 0;
}

	.hi li {
		display: inline;
	}

		.hi li:before {
			content: none;
		}

		.hi li a {
			display: inline-block;
			padding: .2em .3em .25em;
			border-radius: .2em;
			line-height: 1;
			text-decoration: none;
			background: black;
		}

		.hi li a:not(:hover) {
			color: hsl(336, 100%, 95%);
		}

#csswg {}

	#csswg strong {
		display: block;
		color: white;
		font: bold 125% Helvetica Neue, sans-serif;
	}

#mit > p {
	display: inline-block;
	width: 6em;
	padding-top: 1em;
}

	#mit img {
		display: block;
		width: 80%;
		margin-bottom: .2em;
	}

footer.slide {
	text-align: center;
	padding: 1em 0 0;
}

	footer.slide h1 {
		margin-top: 0;
	}

	footer.slide > ul {
		margin: 0 auto;
		padding: 0 2em;
		width: 100%;
		box-sizing: border-box;
		display: flex;
		list-style: none;
		background: #f06;
		text-align: center;
	}

		footer.slide > ul li {
			flex: 1
		}

		footer.slide > ul li::before {
			content: var(--icon);
			display: inline-block;
			margin-right: .2em;
		}

		footer.slide > ul a {
			text-decoration: none;
			font-weight: 500;
		}

#uinception,
#uinception div {
	background: url(img/slides.jpg) 50% 20% / cover;
	box-shadow: 0 0 .1em hsla(0,0%,100%,.5) inset, .3em .3em 1em rgba(0,0,0,.5);
	overflow: hidden;
}

	#uinception div {
		position: absolute;
		top: 0; left: 0;
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
		width: 100vw;
		height: 100vh;
		text-align: center;
		transition: .3s transform;
		transform: translateY(-100vh) scale(.8);
		transform-origin: 50% 25%;
	}

	#uinception div.current {
		transform: scale(.8);
	}

		#uinception div::before {
			content: "Slides are a UI";
			display: block;
			background: rgba(0,0,0,.5);
			backdrop-filter: blur(4px);

			position: relative;
			z-index: 1;
			box-sizing: border-box;
			width: 100%;
			padding: .2em 0;
			margin: 0;
			margin-top: calc(50vh - 1em);
			white-space: nowrap;
			font-size: 200%;
			line-height: 1.2;
		}

.hall.slide {
	--background: hsl(0, 0%, 15%);
	background: var(--background);
	--background: #111;
}

	.hall.slide > h1 {
		position: relative;
		margin-bottom: auto;
		max-width: 8em;
		padding: .5em .6em 0 .3em;
		background: hsla(0,0%,100%,.7);
		font-weight: 900;
		color: var(--background);
		font-size: 42px;
		text-align: left;
		border-radius: .15em;

		--poop-interval: 5s;
	}

	.demo.hall.slide > h1 {
		color: white;
	}

	.hall.shame.slide > h1 {
		background: hsla(0,100%,70%,.7);
	}

		.demo.hall.shame.slide > h1 {
			background: hsl(0,100%,40%);
		}

	.hall.fame.slide > h1 {
		background: hsla(80,100%,70%,.7);
	}

		.demo.hall.fame.slide > h1 {
			background: hsl(80,100%,30%);
		}

	.hall.meh.slide > h1 {
		background: hsla(50,100%,70%,.7);
	}

		.hall.slide > h1 strong {
			font-size: 160%;
			letter-spacing: -.05em;
			white-space: nowrap;
		}

		.hall.slide > h1::before {
			content: "🏆";
			position: relative;
			z-index: 1;
			float: left;
			font-size: 300%;
		}

		@keyframes flip {
			from, 50% {
				transform: none;
			}
		}

		@keyframes strain {
			5% {
				transform: translateY(-.15em) rotate(.5turn) scale(1.1);
			}

			10% {
				transform: translateY(-.15em) rotate(.5turn);
			}
		}

		.hall.slide:not(.fame):target > h1::before {
			animation: 1s flip forwards infinite alternate;
			transform: translateY(-.15em) rotate(.5turn) ;
		}

		.hall.shame.slide:target > h1::before,
		.hall.meh.slide:target > h1::before {
			animation: 1s flip forwards cubic-bezier(.1,1,.5,2);
			transform: translateY(-.15em) rotate(.5turn);
		}

		.hall.shame.slide:target > h1::before {
			animation: 1s flip forwards cubic-bezier(.1,1,.5,2), var(--poop-interval) 1s strain infinite;
		}

		@keyframes show {
			from {
				opacity: 0;
			}
		}

		@keyframes poop {
			to {
				transform: translateY(200vh) scale(2);
			}
		}

		.hall.shame.slide > h1::after {
			content: "💩";
			position: absolute;
			left: 1.3em;
			top: 2.2em;
		}

		.hall.shame.slide:target > h1::after {
			animation: .1s 1s show both, var(--poop-interval) 1.2s poop infinite ease-in;
			transform-origin: top;
		}

		.hall.slide > :last-child {
			margin-bottom: auto;
		}

.ribbon {
	position: absolute;
	top: 0; left: 0;
	background: linear-gradient(to left, hsla(0,0%,100%,.4), transparent) hsl(0, 100%, 40%);
	text-transform: uppercase;
	transform: rotate(90deg) translateX(70.71068%) rotate(-90deg) rotate(-45deg) translateY(-100%);
	transform-origin: 0 0;
	padding: .2em 3em;
	box-shadow: 0 0.1em 0 0.1em rgba(0, 0, 0, 0.15);
	font-size: 80%;
	font-weight: bold;
	letter-spacing: -.05em;
}

.sin.slide,
.solution.slide,
.commandment.slide {

}

.sin.slide {
	background: radial-gradient(rgba(0,0,0,.7) 20%, transparent 80%), url(img/hell.jpg) black center / cover;
}

.commandment.slide {
	background: radial-gradient(rgba(0,0,0,.7) 20%, transparent 80%), url(img/god.jpg) black center / cover;
}

	.sin.slide::before,
	.solution.slide::before,
	.commandment.slide::before,
	.caveat.slide::before {
		content: "Deadly Sin";
		padding: .2em 1em;
		margin-bottom: .6em;
		background: hsl(0, 100%, 40%);
		text-transform: uppercase;
		box-shadow: 0 0.1em 0 0.1em rgba(0, 0, 0, 0.15);
		font-size: 36px;
		font-weight: bold;
		letter-spacing: -.05em;
		text-align: center;
	}

	.solution.slide::before {
		content: "Solution";
		background-color: hsl(80, 80%, 35%);
	}

	.commandment.slide::before {
		content: "Commandment";
		background-color: hsl(200, 60%, 50%);
	}

	.caveat.slide::before {
		content: "Caveat"
	}

#microwave {
	background: linear-gradient(#333, #444);
}

	#microwave > div {
		position: relative;
		transform: scale(1.4)
	}

		#microwave img:first-of-type {
			position: absolute;
			top: 9px;
			left: 2px;
			height: 94px;
		}

			#microwave img + img {

			}

#replaceChild {

}

	#replaceChild > div {
		position: relative;
	}

	#replaceChild pre {
		--interval: 2s;
		animation: var(--interval) blink infinite step-start;
	}

	@keyframes blink {
		50% {
			opacity: 0;
		}
	}

	#replaceChild pre + pre {
		position: absolute;
		top: 0; left: 0;
		animation-delay: calc(var(--interval) / 2)
	}


ul.good {

}

	ul.good > li {
		list-style: none;
	}

		ul.good > li::before {
			content: "✓";
			display: inline-block;
			vertical-align: middle;
			font-size: 130%;
			color: hsl(80, 80%, 50%);
			text-indent: -1em;
		}

.talking.housewife.slide {
	display: block;
	background: #8f8f8f url(img/housewife.png) no-repeat bottom right / 450px auto;
	background-color: #978;
	background-size: 450px;
	padding: 2em;
	transition: 1s ease-in-out background-size;
	color: black;
}

	.talking.housewife.slide:target {
		background-size: 550px auto;
	}

	.talking.slide > h1 {
			position: relative;
			padding: .5em .3em .5em .7em;
			border: .2em solid black;
			width: 7.8em;
			background: white;
			font-weight: bold;
			font-size: 200%;
			border-radius: .8em;
			text-align: left;
		}

		.talking.slide > h1:before,
		.talking.slide > h1:after {
			content: '';
			position: absolute;
			right: -.99em;
			bottom: 1em;
			width: 0;
			height: 1px;
			border: solid transparent;
			border-width: 0 .8em .8em 0;
		}

		.talking.slide > h1:before {
			border-bottom-color: black;
			z-index: -1;
		}

		.talking.slide > h1:after {
			margin-right: .5em;
			margin-bottom: .2em;
			border-bottom-color: white;
		}

.console.slide {
	justify-content: flex-end;
}

	.language-console.overlay {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: hsla(0, 0%, 25%, .8);
		backdrop-filter: blur(5px);
	}

	div.language-console:not(.overlay) {
		width: fill-available;
	}

	.language-console pre {
		margin: 0;
		padding: 0 .5em;
		transition: none;
	}

	.language-console pre.in {
		min-width: calc(var(--charcount) * 1ch);
	}

		.language-console pre:not(.error) code {
			display: inline-block;
			vertical-align: middle;
		}

	.language-console pre.error {
		color: red;
	}

		.language-console pre.error code::before {
			content: "×";
			display: inline-block;
			width: 1.4ch;
			line-height: 1.4ch;
			margin-right: .6ch;
			text-align: center;
			background: red;
			color: white;
			border-radius: 50%;
		}

		.language-console pre.error code {
			color: inherit;
		}

	.language-console pre.delayed:not(.current):not(.displayed) {
		height: 0;
		padding-top: 0;
		padding-bottom: 0;
	}

	@keyframes typing {
		from { width: 2ch }
	}

	.language-console pre.in.delayed.current code {
		overflow: hidden;
		width: calc(var(--charcount) * 1ch);
		animation: calc(var(--charcount) * .08s) typing forwards steps(calc(var(--charcount) - 2));
	}

		.language-console pre.in.delayed.current::after {
			content: "";
			border-right: 1px solid;
			animation: 1s blink infinite step-start;
		}

	.language-console pre:not(:first-of-type) {
		border-top: 1px solid hsla(0,0%,100%,.15);
	}

#future-observers {

}

	#future-observers li + li {
		margin-top: .6em;
	}

	#future-observers a {
		display: block;
		text-decoration: none;
		color: #0cf;
	}

.tweet {
	max-height: 80vh;
	box-sizing: border-box;
	border: 1em solid white;
	border-radius: 2vmin;
	box-shadow: .05em .1em .2em rgba(0,0,0,.5)
}

@keyframes matrix {
	to {
		background-position-y: calc(-1 * var(--size)), calc(3*var(--size) / 2);
	}
}

/*@keyframes pulse { to { font-size: 80px; }}*/

.whynot.slide {
	--q: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">\
	<text style="fill: white; fill-opacity: .12; font: bold 80px/1 Times;" y=".8em">?</text></svg>');
	--size: 30vmin;
	background: var(--q) 0 0, var(--q) calc(var(--size) / 2) calc(var(--size) / 2);
	background-size: var(--size) var(--size);
	background-color: black;
	animation: matrix 8s 5s infinite alternate ease-in;
}

.priorities.slide {

}

	.priorities.slide ol {
		list-style: none;
	}

		.priorities.slide ol li {
			position: relative;
			margin: 2em 0;
		}

			.priorities.slide ol li + li::before {
				content: ">";
				position: absolute;
				left: calc(50% - .5em);
				bottom: .2em;
				z-index: -1;
				font-size: 300%;
				font-weight: bold;
				color: #f06;
			}

input[type="range"].multirange.ghost {
	--track-background: linear-gradient(to right,
				transparent var(--low), var(--range-color) 0,
				var(--range-color) var(--high), transparent 0
			) no-repeat 0 55% / 100% 40%
}

.logo.slide {
	background: black no-repeat bottom right / auto 2em content-box border-box;
}

.demo.slide {
	text-align: center;
	justify-content: flex-start;
	background: hsl(200, 20%, 75%);
}

	.demo.hall.slide > h1 {
		margin-bottom: 1em;
	}

	.demo.slide input:not([type=checkbox]) {
		width: -webkit-fill-available;
		display: block;
	}

	.demo.slide input[type=file] {
		display: inline-block;
		width: fit-content;
		max-width: 15vw;
	}

	.demo.slide input:not([type]) + input:not([type]) {
		margin-top: .1em;
	}

	.demo.slide iframe {
		border-width: 1px;
		background: white;
	}

	.demo.slide:not(.dont-enlarge) [data-edit~="contents"],
	.demo.slide:not(.dont-enlarge) [data-edit~="css"] {
		width: 30%;
		margin: 0 auto;
		transform: scale(3);
		transform-origin: top;
		font-size: 33%;
	}

#dialog p::before {
	content: url(img/ceilingcat.png);
	display: block;
}

kbd {
	position: absolute;
	bottom: 1em;
	right: 1em;
	z-index: 2;
	padding: .1em .5em;
	border: 1px solid rgba(0,0,0,.3);
	border-radius: .3em;
	background: linear-gradient(rgba(0,0,0,.2), transparent) #eee;
	font-size: 120%;
	font-weight: bold;
	font-family: var(--font-body);
	box-shadow: 3px 3px hsl(0,0%,40%), 3px 3px 10px rgba(0,0,0,.4);
}
