

code, textarea, pre {
	margin: 0;
	font: 100%/1.5 var(--font-mono);
	tab-size: 4;
	color: inherit;
}

	pre > code {
		font-size: inherit;
		line-height: inherit;
	}


pre,
code:not(pre > code) {
	--_color: var(--color, var(--color-neutral));

	font-size: 85%;

	--background-color: color-mix(in oklch, var(--_color) 5%, oklch(.985 .02 none));
	--text-color: color-mix(in oklch, var(--_color) 30%, oklch(0 0 none));
	background: var(--background-color);
	color: var(--text-color);
	letter-spacing: normal;
}

code:not(pre > code) {
	font-weight: 500;
	padding: .25em .3em .15em;
	border-radius: var(--radius-s);
}

pre {
	color-scheme: dark;
	border-radius: var(--radius-l);
	background: var(--color-neutral-10, #333);
	color: canvastext;
	padding: .6em .8em;
}

.code-fragments {
	display: flex;
	gap: 1em;
	align-items: center;
	font-size: 60%;

	> pre:first-of-type {
		align-self: flex-start;
	}

	> pre:last-of-type {
		align-self: flex-end;
	}

	> pre:not(:last-of-type) {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	> pre:not(:first-of-type) {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
}

/* Syntax highlighting */
:where(.token) {
	--comment-color: color-mix(in oklch, var(--color) 0%, oklch(50% .01 none / 60%));
	--_color-code-comment: var(--color-code-comment, var(--comment-color, var(--color-neutral-50a)));
	--_color-code-punctuation: var(--color-code-punctuation, var(--color-neutral-80a));
	--_color-code-1: var(--color-code-1, oklch(from var(--color-magenta) clamp(.7, l, 1) c h));
	--_color-code-2: var(--color-code-2, var(--color-cyan));
	--_color-code-3: var(--color-code-3, var(--color-green));
	--_color-code-4: var(--color-code-4, var(--color-blue));
	--_color-code-5: var(--color-code-5, var(--col));
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: var(--_color-code-comment);
}

.token.punctuation {
	color: var(--_color-code-punctuation);
	mix-blend-mode: normal;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
	color: var(--_color-code-1);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin {
	color: var(--_color-code-2);
}

.token.operator,
.token.entity,
.token.url,
.language-css > .token.string,
.token.inserted,
.token.function {
	color: var(--_color-code-3);
}

.token.attr-value,
.token.keyword,
.token.variable {
	color: var(--_color-code-4);
}

.token.atrule,
.token.regex,
.token.important {
	color: var(--_color-code-5);
}

.token.important,
.token.bold {
	font-weight: bold;
}
