/* Tables */
table {
	border-spacing: 0;
	margin-block: 1em;

	caption {
		color: light-dark(var(--color-neutral-80), canvastext);
	}

	th,
	td {
		vertical-align: middle;
		text-align: start;
		padding: .3em .5em;

		&:first-child {
			text-align: start;
		}
	}

	thead th {
		vertical-align: bottom;
		padding: .3em .5em;
		color: var(--color-neutral-30);
		border-block-end: var(--ui-border-l);
		font-weight: 500;
		font-size: var(--font-size-s);
	}

	tbody {
		th,
		td {
			border-bottom: var(--ui-border);
		}

		th {
			border-inline-end: var(--ui-border-s);
		}

		td {
			&:first-child {
				font-weight: 300;
			}
		}
	}
}
