ol.pop {
	counter-reset: ol;

	> li {
		position: relative;
		list-style: none;
		counter-increment: ol;

		&::before {
			content: counter(ol);
			position: absolute;
			right: calc(100% + .25em);
			top: .2em;
		}
	}
}

ol.pop > li::before,
span.pop {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 1em;
	aspect-ratio: 1;
	padding: .25em;
	border-radius: 50%;
	background: var(--color-magenta);
	color: white;
	font-weight: bold;
	font-size: 80%;
	line-height: 1;
}

span.pop {
	font-size: 70%;
	vertical-align: 0.15em;
}

.tweet {
	padding: .2em;
	background: white;
	border-radius: .5em;
	box-shadow: 0 20px 50px black;
}

.cheatsheet {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	font-size: 60%;
	background: var(--color-gray-90);
	letter-spacing: 0;
	margin: 0;

	&::before,
	& dt,
	& dd {
		padding: .3rem .7rem;
	}

	&::before,
	& dt {
		white-space: nowrap;
	}

	&[title]::before {
		content: attr(title);
		display: flex;
		align-items: center;
		background: var(--color-gray-80);
		text-transform: uppercase;
		font-weight: 500;
		font-size: 80%;
		color: var(--color-gray-40);
	}

	& dt {
		display: flex;
		align-items: center;
		background: var(--color-gray-40);
		color: white;

		&:has(> i.bi:where(:not(:only-child))) {
			display: flex;
			gap: .5em;
		}
	}

	& dd {
		flex-grow: 1;
		margin-left: 0;
	}
}

.pros-cons {
	.pro {
		list-style: "✅ ";
	}

	.con {
		list-style: "👎 ";
	}
}