body {
	font: 150%/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background: hsl(200, 40%, 96%);
}

@media (max-width: 600px) {
	body {
		font-size: 100%;
	}
}

button, input, select {
	font: inherit
}

input[type=range][property] {
	transform: scale(2);
	transform-origin: left;
	margin-right: 200px;
}

select[property],
input:not([type])[property] {
	font-size: 150%;
	margin-right: 1em;
}

h1 {
	font-weight: 300;
}

ul {
	margin: .3em 0;
}

li {
	list-style: disc;
}

li[property][mv-mode="edit"] + .mv-item-bar {
	xright: 0;
}

[property=cat] {
	min-width: 14em;
	position: relative;
	padding: .3em;
	margin: .4em 0;
	border: 1px solid hsl(200, 40%, 85%);
	border-radius: .2em;
}

/*.lite-cats [property=cat] {
	padding: .1em;
}*/

	[property=cat]::before {
		content: none;
	}

	[property=cat]::after {
		content: "";
		display: block;
		clear: both;
	}

	.cat img ~ :not(.mv-ui) {
		display: block;
		margin: 0;
		margin-left: 9rem;
	}

	.cat h2,
	.cat p {
		margin-top: 0;
		margin-bottom: 0;
	}

	/*.lite-cats h2 {
		font-weight: 100;
	}*/


	.cat img {
		width: 8rem;
		height: 8rem;
		border-radius: .5em;
		object-fit: cover;
		float: left;
	}

	.cat[mv-app="cats"] img {
		width: 4rem;
		height: 4rem;
	}

		.cat[mv-app="cats"] img ~ * {
			margin-left: 5rem;
		}
/*
	.lite-cats [property=cat] img {
		width: 3em;
		height: 1.8em;
		margin: -.1em 0 0 -.1em;
		border-radius: 0;
	}*/

		.cat img[src=""] {
			border: none;
			background: hsla(0,0%,100%,.5);
			content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">\
			<text x="9" y="85" font-size="80">😻</text>\
			</svg>')
		}

	.cat [property=age] {
		position: absolute;
		top: 1em;
		right: .5em;
		font-weight: bold;
	}

	.cat time {
		display: block;
		letter-spacing: -.03em;
	}

		.cat[property=age]::before,
		.cat time::before {
			content: "🎂 ";
		}

	.cat [property=hobby]:last-of-type {
		margin-right: .4em;
	}

		.cat [property=hobby]:not(:last-of-type)::after {
			content: ", ";
		}

#color-picker {}

	#color-picker div[style] {
		padding: 1em 2em;
		display: flex;
		flex-flow: column;
		border-radius: .2em;
	}

	#color-picker input[type=range] {
		margin: 15px 0;
		width: 40%;
	}

	#color-picker div[style] code {
		font-weight: bold;
		margin-top: 1em;
		font-size: 180%;
		line-height: 1;
		color: white;
		text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
	}

#clock {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	height: 100vh;
	margin: 0;
	font-weight: bold;
	letter-spacing: -.02em;
	font-size: 200%;
}

#clock > div {
	font-size: 600%;
}

#clock > div:not([class]) {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#clock > div:not([class]) {
	flex: 1;
	width: 100%;
}

button.mv-add.mv-ui,
button.mv-undo.mv-ui {
	padding: .2em .5em;
	background: hsl(200, 40%, 80%);
	border-radius: .2em;
	border: none;
	color: black;
	font-weight: bold;
	font-size: 60%;
	vertical-align: text-bottom;
	cursor: pointer;
	mix-blend-mode: multiply;
}

	button.mv-add.mv-ui:hover,
	button.mv-undo.mv-ui:hover {
		background: hsl(200, 40%, 70%);
	}

	button.mv-add.mv-ui:active,
	button.mv-undo.mv-ui:active {
		background: hsl(200, 40%, 60%);
		padding: .2em .4em 0 .6em;
	}

.mv-item-bar.mv-adjacent {
	transform: translate(-10%, -150%);
}
