/* @import url('https://fonts.googleapis.com/css?family=Reenie+Beanie'); */

@font-face {
	font-family: 'Icons';
	font-style: normal;
	font-weight: 400;
	src: url("../shared/fonts/slide-icons.woff2") format('woff2');
}

* {
	text-decoration-color: inherit;
}

html {
	--font-mono: Consolas, Monaco, 'Andale Mono', monospace;
	--font-body: 'Helvetica Neue', sans-serif;
	--font-heading: var(--font-body);
	--font-handwritten: 'Reenie Beanie', Marker Felt, cursive;

	--color-magenta: #f06;
	--color-orange: orange;
	--color-green: yellowgreen;
	--color-aqua: hsl(191, 100%, 40%);
	--color-yellow: gold;
	--color-light-gray: hsl(220, 10%, 95%);
}

body {
	font: 100 100%/1.5 var(--font-body);
	font-family: var(--font-body);
	--darker-color: rgba(0,0,0,.1);
	background: linear-gradient(45deg, var(--darker-color) 25%, transparent 25%, transparent 75%, var(--darker-color) 75%),
	            linear-gradient(45deg, var(--darker-color) 25%, transparent 25%, transparent 75%, var(--darker-color) 75%) 20px 20px;
	background-color: hsl(0,0%,95%);
	background-size: 40px 40px;
	text-decoration-skip: ink;
}

h1 {
	font-weight: bold;
	line-height: 1.2;
}

a {
	color: inherit;
}

	a.button {
		text-decoration: none;
	}

strong, b {
	font-weight: bold; /* FF is weird */
}

img {
	max-width: 100%;
	max-height: 100%;
}

code, textarea, pre, div.editor {
	margin: 0;
	font: 100%/1.4 var(--font-mono);
	font-family: var(--font-mono);
	-moz-tab-size: 3;
	tab-size: 3;
	text-align: left;
}

pre {
	overflow: auto;
}

	pre.delayed > code.delayed {
		opacity: 1;
	}

	pre > code {
		font-size: inherit;
	}

pre + pre {
	margin-top: 1.5em;
}

input:not([type=file]),
textarea:not([class]) {
	font: inherit;
	color: inherit;
}

	input[type="range"][orient="vertical"] {
		-webkit-appearance: slider-vertical;
		writing-mode: bt-lr;
	}

	input:not([type]),
	input[type="text"],
	input[type="email"],
	input[type="tel"],
	textarea:not([class]) {
		background: rgba(0,0,0,.5) padding-box;
		padding: 0 .3em;
		box-sizing: border-box;
		border: .05em solid hsla(0, 0%, 100%, .2);
		font-weight: bold;
	}

button {
	font: inherit;
	cursor: pointer;
}

.demo.slide {
	font-size: 200%;
}

.demo.slide.horizontal {
	padding-bottom: calc(var(--division, 50) * 1vh - 10vh);
}

.demo.slide:not(.horizontal) {
	padding-left: calc(var(--division, 60) * 1vw + 3vw);
	align-items: center;
	justify-content: center;
}

	.isolated.demo.slide {
		padding: 0;
		flex-flow: row;
		align-items: stretch;
	}

	.isolated.horizontal.demo.slide {
		flex-flow: column;
	}

		.isolated.demo.slide > iframe {
			position: static;
			flex: 1;
			width: auto;
			margin: 1.5em;
			border-radius: 8px;
			background: hsla(0,0%,100%,.8);
		}

		.isolated.horizontal.demo.slide > iframe {
			margin-bottom: 0;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		.isolated:not(.horizontal).demo.slide > iframe {
			margin-left: 0;
			border-bottom-left-radius: 0;
			border-top-left-radius: 0;
			height: calc(100% - 3em);
		}

		.isolated.demo.slide {
			--division: 50;
		}

		.isolated.demo.slide div.editor {
			position: relative;
		}

		.isolated:not(.horizontal).demo.slide div.editor {
			order: -1;
		}

.demo.slide details.notes,
.demo.slide .button.new-tab {
	top: .25em;
	z-index: 2;
}

.demo.slide details.notes {
	left: auto;
	bottom: auto;
	right: 1.5em;
	z-index: 2;
	text-align: left;
}

.demo.slide .button.new-tab {
	position: absolute;
	left: calc(var(--division, 60) * 1% + .5em);
}

	details.notes div > ul {
		padding-left: 1em;
	}

	details.notes > summary,
	.button {
		padding: 0 .4em;
		border: 1px solid hsla(30,0%,100%, .3);
		border-radius: .3em;
		cursor: pointer;
		white-space: nowrap;
		font-weight: bold;
		letter-spacing: -.03em;
		font-size: 60%;
	}

		.demo.slide details.notes > summary,
		.demo.slide .button {
			color: black;
			border-color: rgba(0,0,0,.2);
		}

	details.notes > summary::-webkit-details-marker {
		display: none;
	}

	.slide:not(.demo) details.notes:not([open]):not(:hover) > summary {
		color: hsla(0, 0%, 100%, .6);
	}

	details.notes > div {
		position: absolute;
		bottom: 1.6em;
		left: 0;
		width: 50vw;
		min-width: 280px;
		max-width: calc(100vw - 4em);
		max-height: 70vh;
		overflow: auto;
		padding: .8em 1em;
		border: 1px solid rgba(0,0,0,.3);
		border-radius: .5em;
		background: var(--color-light-gray);
		color: black;
		text-shadow: 0 .1em .1em white;
		font-size: 70%;
		box-shadow: .1em .2em 1em rgba(0,0,0,.5);
	}

	.demo.slide details.notes > div {
		bottom: auto;
		top: 1.6em;
		left: auto;
		right: 0;
		box-shadow: .05em .1em .4em rgba(0,0,0,.2);
	}

		details.notes > div > * {
			margin: 0;
		}

	details.notes[open]::before {
		content: '';
		position: absolute;
		bottom: 1em;
		left: 40%;
		z-index: 1;
		width: 14px;
		height: 14px;
		background: var(--color-light-gray);
		transform: rotate(45deg);
	}

	.demo.slide details.notes[open]::before {
		bottom: auto;
		top: 1em;
		left: auto;
		right: 40%;
	}

textarea.editor,
div.editor > pre {
	padding: 1rem 2rem;
	line-height: inherit;
	box-sizing: border-box;
}

div.editor {
	position: absolute;
	left: 0;
	bottom: 0;
	color: white;
	font-size: calc(var(--font-size-multiplier, 1) * 100%);
	line-height: 1.5;
	box-sizing: border-box;
}

	.demo.slide div.editor[hidden] {
		display: block;
		visibility: hidden;
		position: absolute;
		order: 1;
	}

		.demo.slide div.editor[hidden] label {
			visibility: visible;
			margin-top: 3rem;
			font-size: 54%;
		}

		.demo.slide div.editor[hidden] label:not(:hover):not(:focus) {
			opacity: .2;

		}

.demo.slide:not(.horizontal) div.editor {
	top: 0;
	width: calc(var(--division, 60) * 1vw);
}

.demo.slide.horizontal div.editor {
	right: 0;
}

	textarea.editor {
		display: block;
		color: white;
		height: 100%;
		-webkit-text-fill-color: transparent;
		white-space: pre;
		border: 0;
		outline: none;
		width: 100%;
		background: hsl(200, 10%, 20%) linear-gradient(rgba(0,0,0,.1) 50%, transparent 0);
		background-origin: content-box;
		background-size: auto 3em;
		background-attachment: local;
	}

	.demo.slide:not(.horizontal) div.editor > textarea.editor {
		box-shadow: -.1em 0 .2em rgba(0,0,0,.3) inset;
	}

	.demo.slide.horizontal div.editor > textarea.editor {
		max-height: calc(var(--division, 50) * 1vh);
		box-shadow: 0 .1em .2em rgba(0,0,0,.3) inset;
	}

	div.editor > pre {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
		margin: 0;
		pointer-events: none;
	}

	.editor label {
		position: absolute;
		top: .8rem;
		right: .8rem;
		z-index: 1;
		padding: .1rem .5rem;
		border-radius: .3em;
		background: hsl(30, 100%, 50%);
		color: white;
		cursor: pointer;
		text-transform: uppercase;
		font: bold 1.5rem/1.5 var(--font-heading);
	}

		.editor label:hover {
			background: hsl(15, 100%, 45%);
		}

.slide {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 2.5rem;
	background-color: black;
	background: radial-gradient(transparent, rgba(0,0,0,.7)) hsl(200, 15%, 20%);
	color: white;
	text-decoration-color: hsla(0,0%,100%,.5);
}

@media (max-width: 1024px) {
	.slide {
		padding: 3vmin;
	}
}

	.slide[data-source]::after {
		color: black;
		text-shadow: none;
	}

	.light.slide,
	.demo.slide {
		background: hsl(200, 40%, 80%);
		color: black;
	}

	.slide > h1 {
		text-align: center;
		margin: 0 0 .6em;
		font-size: 200%;
	}

	.slide h2 {
		color: yellowgreen;
		font-size: 120%;
	}

.image.slide > h1:only-child,
.image.slide > .caption,
.iframe.slide > h1 {
	/*bottom: .5em;
	margin: 0;*/
	text-shadow: none;
	font-weight: 100;
	background: rgba(0,0,0,.5);
	backdrop-filter: blur(4px);
}

.delayed.displayed,
.delayed-children > .displayed {
	opacity: 1;
}

section > header.slide {
	align-items: center;
	justify-content: center;
	background: transparent;
}

section > header.slide:target {
	display: flex;
}

	section > header.slide > h1 {
		margin: auto;
		padding: .5em .7em;
		background: black;
		text-align: center;
		line-height: 1.2;
		font-weight: 100;
	}

#indicator {
	background: transparent;
	text-shadow: none;
	font-weight: 100;
}

::selection {
	background: hsl(335, 100%, 40%);
	color: white;
}

footer.ref a {
	position: absolute;
	bottom: 5vmin;
	text-decoration: none;
	font-size: 75%;
}

/* Syntax highlighting */

code.de-emphasize {
	opacity: .4;
}

.hint {
	position: absolute;
	font-size: .8rem;
	font-weight: bold;
	line-height: 1;
	color: rgba(0,0,0,.2);
	mix-blend-mode: multiply;
}

	.slide:not(.horizontal) .hint {
		bottom: -5px;
		right: 10px;
	}

	.slide.horizontal .hint {
		top: -5px;
		left: 10px;
	}

blockquote {
	position: relative;
	font-style: italic;
	width: 20em;
}

	blockquote::before {
		content: "❝";
		position: absolute;
		right: 100%;
		top: -.3em;
		margin-right: .2em;
		font-size: 400%;
		color: var(--color-magenta);
		font-style: normal;
	}

	blockquote .cite {
		text-align: right;
		font-style: normal;
		font-size: 60%;
		font-weight: bold;
		color: var(--color-magenta);
	}

		blockquote .cite a:not(:hover) {
			text-decoration: none;
		}
