@import url("https://inspirejs.org/inspire.css") layer(base-theme);
@import url("https://inspirejs.org/style/theme.css") layer(base-theme);
@import url("theme.css") layer(theme);
@import url("components.css");

#intro {
	align-items: end;
	background: url("../img/nesting-dolls.avif") no-repeat right / 140% auto;
	padding: 0;
	color: white;

	> h1 {
		margin-top: auto;
		text-align: right;
		text-shadow: 0 0 .3em hsl(0 0% 0% / .2);
		font: 100 80%/1.4 var(--font-cursive);
		margin-right: 4rem;

		> div {
			position: relative;
			z-index: -1;
			margin-top: -.7em;
			margin-bottom: .5em;
		}

		.ice,
		.fire,
		.nesting {
			font-family: var(--font-sans);
			font-weight: bold;
			font-size: 250%;
		}

		.ice,
		.fire {

		}

		.ice {
			color: hsl(200 100% 90%);

			&::before {
				content: "🧊"
			}
		}

		.fire {
			color: hsl(30 100% 60%);

			&::before {
				content: "🔥"
			}
		}

		.nesting {
			xdisplay: block;
			line-height: .7;

			& span {
				display: inline-block;
				border: 2px solid;
				padding: .1em .1em;
				margin-left: .2em;
				border-radius: .1em;
			}

			/* &::before {
				content: "🪆"
			} */
		}
	}

	.attribution {
		align-self: stretch;
		padding: .4em .6em;
		padding-right: 4rem;
		margin-top: auto;
		margin-bottom: 0;
		background: hsl(0 0% 0% / .4);
		text-align: right;
	}
}

#css-preprocessors {
	align-items: stretch;
	overflow: clip;

	> div {
		display: flex;
		align-items: center;
		flex-flow: column;

		& img {
			height: 12vw;
		}

		> h2 {
			margin-bottom: 0;
		}

		> a {
			margin-bottom: auto;
			opacity: .5;
			font-weight: 500;
			font-size: 70%;
		}
	}

	& time {
		position: relative;
		display: block;
		margin: auto 0;
		background: black;
		color: white;
		width: max-content;
		padding: .3em .5em;
		font-weight: bold;

		&:is(:first-of-type > *)::before {
			content: "";
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			z-index: -1;
			width: 200vw;
			height: .2em;
			background: inherit;
		}
	}
}

#reactive-css-variables {
	> pre:first-of-type {

	}

	&:has(> pre + pre:not(.current, .displayed)) .container {
		animation-play-state: paused;
	}

	> div.container {
		width: 100%;
		flex: none;
		display: flex;
		flex-flow: row;
		justify-content: center;
		gap: .3em;
		font-size: 150%;
	}
}

.conversion.slide {
	> :is(div, pre):nth-of-type(2):where(*:is(:not(.delayed), .current, .displayed) + *) {
		position: relative;

		&::before {
			content: var(--arrow-label, "Result");
			position: absolute;
			right: calc(100% + 1.4em);
			top: 50%;
			z-index: 1;
			transform: translate(50%, -50%);
			padding-inline: .7em 1.2em;
			padding-block: 1.2em;
			margin-left: -1em;
			background: linear-gradient(to right var(--in-oklab), var(--color-magenta) 25%, var(--color-aqua) 75%);
			color: white;
			white-space: nowrap;
			font: bold 60%/1 var(--font-body);

			/* Clip to a right pointing arrow */
			--arrow-inset: .6em;
			--arrow-head-height: 2em;
			clip-path: polygon(
				0 var(--arrow-inset), calc(100% - var(--arrow-head-height)) var(--arrow-inset),
				calc(100% - var(--arrow-head-height)) 0,
				100% 50%,
				calc(100% - var(--arrow-head-height)) 100%,
				calc(100% - var(--arrow-head-height)) calc(100% - var(--arrow-inset)), 0 calc(100% - var(--arrow-inset))
			);

			text-transform: uppercase;
			letter-spacing: normal;
		}
	}
}

#preprocessors-vs-css {
	& .displayed {
		opacity: 1;
	}

	& :is(td, th):is(:nth-child(2), :nth-child(3)) {
		text-align: center;
	}

	& tbody {
		& th {
			font-weight: 300;
		}

		& td {
			font-weight: 500;

			&:where(:where(.current, .displayed) > *) {
				transition: .5s 1s color;

				&.win {
					color: var(--color-green);
				}

				&:not(.win) {
					color: var(--color-red);
				}
			}
		}
	}

	& tbody tr:not(:first-child) :is(td, th) {
		border-top: 1px solid var(--color-gray-80);
	}
}

@keyframes nesting-header-border {
	to {
		border-width: .4em;
	}
}

@keyframes nesting-header-outline {
	to {
		outline-width: .05em;
		outline-offset: .4em;
	}
}

#nesting {
	> h1 {
		border: 0 solid transparent;
		background-clip: padding-box;
		box-shadow: 0 0 0 .1em black;
		outline: 0 solid black;
		outline-offset: 0;
	}

	&:target > h1 {
		animation: .4s nesting-header-border both,
		           .4s .4s nesting-header-outline both;
	}
}

#when-can-we {
	color-scheme: dark;
	background: #125DCB url("../img/begging.gif") no-repeat bottom right;
	background-repeat: space no-repeat;
}

@keyframes parsing-header {
	to { gap: .4em }
}

header#css-parsing-101 {
	/* background: url(https://images.unsplash.com/photo-1543393716-375f47996a77?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=4140&q=80) no-repeat top / cover; */
	background: url(../img/crash.gif) no-repeat top / cover;
	padding: 0;

	> h1 {
		display: flex;
		gap: 0;
		background: transparent;
		padding: 0;
		animation: 1s 2s parsing-header both alternate infinite;

		> span {
			padding-block: .5em;
			padding-inline: .13em;
			background: black;
			font-size: 90%;
			white-space: nowrap;

			&:first-child {
				padding-left: .7em
			}

			&:last-child {
				padding-right: .7em
			}
		}
	}
}

#parsing {
	--line-min-width: 4em;

	.node {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: .7em;
		text-align: center;
		width: 5em;
		aspect-ratio: 1;
		border-radius: 50%;
		background: var(--color-accent-1);
		font-weight: bold;
		font-size: 80%;
		line-height: 1;
		white-space: inherit;
		color: white;
	}

	& ul ul .node {
		background: var(--color-accent-2);
	}

	& ul ul ul .node {
		background: var(--color-accent-3);
	}
}

#css-tokens {
	& object {
		width: 100%;
	}

	& figcaption {
		text-align: center;
	}
}

#tokenization {
	& pre {
		min-width: 24em;
		font-size: 130%;
	}

	.legend {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: .2em 2em;
		margin-top: 1em;

		> * {
			opacity: 0;
		}

		> .literal {
			grid-column: 1 / -1;
		}
	}

	&:has(.hash:is(.current, .displayed)) .legend > .hash,
	&:has(.ident:is(.current, .displayed)) .legend > .ident,
	&:has(.function:is(.current, .displayed)) .legend > .function,
	&:has(.string:is(.current, .displayed)) .legend > .string,
	&:has(.dimension:is(.current, .displayed)) .legend > .dimension,
	&:has(.literal:is(.current, .displayed)) .legend > .literal,
	&:has(.whitespace:is(.current, .displayed)) .legend > .whitespace {
		opacity: 1;
	}
}

#simple-selector-grammar-2 {
	& pre + pre {
		margin-left: 5ch;
	}
}

#lookahead {
	& .displayed {
		opacity: 1;
	}
}

#unbounded-lookahead {
	& pre.language-cssgrammar {
		font-size: 90%;
	}
}

#css-pain-points-2022 {
	background: hsl(330deg 5.41% 14.51%);
}

#resolving-ambiguity {
	& pre:first-of-type {
		margin-top: 3em;
	}

	.token {
		&:not(.openbrace, .semicolon) {
			all: unset;
		}
	}

	&:target .token {
		&.openbrace,
		&.semicolon {
			display: inline-flex;
			line-height: 1.2;
			animation: .2s show-token both alternate 2;
		}

		&.semicolon {
			animation-delay: 1s;
		}
	}
}

.history.slide {
	& h1 > time,
	& > time:first-child {
		position: absolute;
		top: 0;
		left: 5rem;
		vertical-align: 0.35em;
		padding: .2em .5em;
		width: max-content;
		--background: var(--date-color, var(--color-accent-2));
		background: var(--background);
		font-weight: 800;
		text-transform: uppercase;
		font-size: 3.5rem;
		line-height: 1.2;
		color: white;
	}
}

#proposal2 {
	.browser {
		min-width: 30vw;
	}
}

#breakouts {
	.people {
		display: grid;
		grid-template-columns: repeat(3, auto);
	}
}

#resolve-ambiguity {
	flex-flow: row;

	> h1 {
		max-width: 10ch;
	}

	> ol {

	}
}

#syntax-comparison {
	gap: .5em;

	& > h1 {
		width: min-content;
		flex: none;
		writing-mode: vertical-lr;
		transform: scale(-1);

	}

	& td {
		white-space: nowrap;
	}

	&[data-visit="1"] {
		& tr > :last-child {
			display: none;
		}
	}

	& table {
		table-layout: fixed;
	}

	& th,
	& td {
		&:not(:first-child) {
			width: 2.5em;
			text-align: center;
		}

	}

	& td:not(:first-child) {
		&:nth-of-type(even) {
			background: var(--color-gray-95);
		}
	}
}

#organic-prefix-morpheus {
	gap: 1em;
}

#leas-proposal {
	> header {
		flex: none;
		width: min-content;
		margin-left: .4em;

		> h1 {
			text-align: left;
			text-indent: -.4em;
		}

		> ul {
			font-size: 125%;
			padding: 0;
		}
	}
}

span.merge {
	> :first-child {
		display: inline-flex;
		clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
	}

	> :nth-child(2) {
		clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
		margin-left: -.8em;
	}
}

#finalists {
	> header > ol {
		font-size: 120%;
	}

	& ol ol {
		display: flex;
		flex-wrap: wrap;
		gap: 0 2em;
		list-style: lower-roman inside;
		padding: 0;
		font-size: 80%;

		& > li::marker {
			color: var(--color-magenta);
			font-weight: bold;
		}
	}
}

#twitter-polls {
	align-items: start;
	.pie, .legend {
		--color-1: var(--color-red);
		--color-2: var(--color-green);
		margin-inline: auto;
	}

	.pie {
		margin-bottom: 1em;
	}

	.legend {
		width: fit-content;
	}
}

#consensus-option-3 {
	& blockquote {
		font-size: 95%;
	}
}

.slide.doneyet {
	align-items: start;
	background: url(../img/isitover.gif) bottom right no-repeat hsl(116 41% 58%);

	> h1 {
		background: none;
		padding: 0;
		max-width: 10ch;
		text-align: left;
		color: white;
		color-scheme: dark;
	}
}

@keyframes bazinga {
	to {
		transform: scale(1.3);
	}
}

#backtracking-algorithm {
	overflow: clip;

	.start,
	.end:is(.rule, .declaration) {
		background: var(--color-gray-90);
		padding: .8em;
		border-radius: 50%;
	}

	.end {
		&.rule,
		&.declaration {
			background: var(--color-green-light);
		}

		&.ambiguous {
			height: 3em;
			&:is(ul.current > li > *) {
				animation: .1s bazinga 2 alternate cubic-bezier(.2,.7,.6,1.2);
			}
		}
	}

	& code {
		padding: 0;
		font-size: 100%;
	}

	& em {
		padding: .3em .5em .15em;
		background: var(--color-gray-90);
		color: var(--color-gray-40);
		border-radius: .2em;
	}
}

#implementor-feedback {
	> .they-said:last-child {
		margin-top: -1em;
	}

	.person img {
		width: 20vmin
	}
}