
.callout {
	--color-bg: var(--color-90, var(--color-gray-90));
	--color-border: var(--color-70, var(--color-gray-70));

	--color-icon: var(--color);
	--color-heading: var(--color-40);
	--color-text: var(--color-10);

	background: var(--color-bg);
	border: 1px solid var(--color-border);
	color: var(--color-text);
	padding: 1em;
	border-radius: var(--radius-l);
	display: grid;
	grid-template-columns: auto 1fr;
	gap: .2em 1em;
	align-items: start;
	font-weight: 420;

	> :not(i.bi) {
		grid-column: 2;
		margin: 0;

	}

	> i.bi {
		grid-column: 1;
		grid-row: 1 / 3;
		font-size: 1lh;
		color: var(--color-icon);
		margin-top: -.1lh;
	}

	.title {
		color: var(--color-heading);
		font-weight: 600;
		line-height: var(--lh-heading);
	}

	&.danger,
	&.red {
		--color-bg: var(--color-red-90);
		--color-border: var(--color-red-70);
		--color-icon: var(--color-red);
		--color-heading: var(--color-red-40);
		--color-text: var(--color-red-10);
	}

	&.warning,
	&.yellow {
		--color-bg: var(--color-yellow-90);
		--color-border: var(--color-yellow-70);
		--color-icon: var(--color-yellow);
		--color-heading: var(--color-yellow-40);
		--color-text: var(--color-yellow-10);
	}

	&.success,
	&.green {
		--color-bg: var(--color-green-90);
		--color-border: var(--color-green-70);
		--color-icon: var(--color-green);
		--color-heading: var(--color-green-40);
		--color-text: var(--color-green-10);
	}

	&.brand,
	&.indigo {
		--color-bg: var(--color-indigo-90);
		--color-border: var(--color-indigo-70);
		--color-icon: var(--color-indigo);
		--color-heading: var(--color-indigo-40);
		--color-text: var(--color-indigo-10);
	}

	&.blue {
		--color-bg: var(--color-blue-90);
		--color-border: var(--color-blue-70);
		--color-icon: var(--color-blue);
		--color-heading: var(--color-blue-40);
		--color-text: var(--color-blue-10);
	}

	&.magenta {
		--color-bg: var(--color-magenta-90);
		--color-border: var(--color-magenta-70);
		--color-icon: var(--color-magenta);
		--color-heading: var(--color-magenta-40);
		--color-text: var(--color-magenta-10);
	}
}
