/* Theme for this talk */

@import url("../client_modules/@inspirejs/core/inspire.css");
@import url("theme/tokens.css");
@import url("theme/tints.css");
@import url("theme/theme.css");
@import url("fonts.css");

:root {
	--rainbow-stripes:
		var(--color-red) 0 calc(100%/8),
		var(--color-orange) 0 calc(2 * 100%/8),
		var(--color-yellow) 0 calc(3 * 100%/8),
		var(--color-green) 0 calc(4 * 100%/8),
		var(--color-cyan) 0 calc(5 * 100%/8),
		var(--color-blue) 0 calc(6 * 100%/8),
		var(--color-purple) 0 calc(7 * 100%/8),
		var(--color-magenta) 0 calc(8 * 100%/8);
	--rgb-stripes:
		var(--color-red) 0 calc(100%/3),
		var(--color-green) 0 calc(2 * 100%/3),
		var(--color-blue) 0 calc(3 * 100%/3);
}

header.slide:is(section > header),
footer.slide#end,
.rainbow-stripes.slide {
	background: linear-gradient(to right, var(--rainbow-stripes)) 0 0 / 100% 1rem repeat-x black;
}

color-scale {
	align-self: stretch;

	&::part(swatch) {
		box-shadow: 0 0 3px var(--color-neutral);
	}

	&.compact {
		font-size: 80%;
		gap: 0;

		&::part(swatch) {
			border-radius: 0;
		}
	}
}

.browser, .stretch {
	align-self: stretch;
}
