#cover {
	padding: 0;
}

	#cover h1,
	#cover h2 {
		margin: 0;
		filter: drop-shadow(.1rem .1rem .5rem rgba(0,0,0,.5));
	}

	#cover h1 {
		padding: 0 .1em;
		width: 4em;
		color: var(--color-aqua);
		letter-spacing: -.04em;
		font-size: 30vh;
		line-height: .8;
	}

	@supports (-webkit-background-clip: text) {
		#cover h1 {
			background: linear-gradient(to bottom right, var(--color1), var(--color2), var(--color3), var(--color2), var(--color1)) fixed;
			-webkit-background-clip: text;
			color: transparent;
		}
	}

	#cover h1 > div {
		position: relative;
		display: inline-flex;
		flex-flow: column;
		justify-content: space-between;
		vertical-align: bottom;
		background: inherit;
		background-clip: border-box;
		width: 5em;
		height: 5em;
		padding: .6em;
		margin-left: -1em;
		color: black;
		letter-spacing: -.02em;
		text-align: center;
		font-size: 11%;
		line-height: 1.2;
	}

	#cover a {
		display: block;
		text-decoration: none;
	}

	#cover a[href^="https://twitter.com"] {
		font-weight: 300;
	}

	#cover .amp {
		position: absolute;
		font: italic 600%/1 Baskerville, Palatino, serif;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
		opacity: .6;
		color: white;
		mix-blend-mode: soft-light;
	}

html:not([data-profile="speaker"]) .hint {
	display: none;
}

#flexbox-froggy img,
#css-grid-garden img {
	display: block;
	margin-top: 1em;
	max-height: calc(100vh - 1em);
}



.vertical-bar-chart {
	font-size: 60%;
	background: linear-gradient(to bottom, hsla(0,0%,100%,.1) 50%, transparent 0) top / 100% 20%;
	border: 2px solid white;
	border-top: 0;
	border-right: 0;
	height: calc(100vmin - 12em);
}

.vertical-bar-chart > div {
	background: var(--accent4);
	box-sizing: border-box;
	padding: .3em 0;
	margin: 0 .9em;
	font-weight: bold;
	letter-spacing: -.04em;
	word-wrap: break-word;
	line-height: 1;
}

#bar-chart-solution .vertical-bar-chart {
	display: flex;
	align-items: flex-end;
}

#bar-chart-solution .vertical-bar-chart > div {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	width: 2em;
	height: calc(var(--p) * 100%);
}

/* Chrome 74 bug */
svg:not([width]):not([height]):only-child,
img[alt="flags explained"] {
	align-self: flex-start;
}

#param h1 {
	background: rgba(0,0,0,.5);
	padding: .1em .3em;
}
