pre.error,
pre.language-error {
	display: flex;
	align-items: start;
	white-space: pre-wrap;
	color: var(--color-red);
	background: oklch(from var(--color-red) var(--tint-95));
	font-weight: bold;
	--icon-start: var(--icon-x-circle);

	& :is(*, .token) {
		color: inherit;
		font-weight: inherit;
	}

	&::before {
		font-size: 200%;
	}

}
