pre.error,
pre.language-error {
	display: flex;
	align-items: start;
	white-space: pre-wrap;
	color: var(--error-color-text, var(--color-red));
	background: oklch(from var(--error-color-bg, var(--color-red)) var(--tint-95));
	font-weight: bold;
	--icon-start: var(--icon-x-circle);

	& :is(*, .token) {
		color: inherit;
		font-weight: inherit;
	}

	&::before {
		font-size: 200%;
		translate: 0 -.1lh;
	}


}
