#intro {
	display: flex;
	align-items: flex-start;
}

.slide.intro,
#cutout-text {
	background: linear-gradient(to right, rgba(0,0,0,.5), transparent 50%),
	            url(img/whisper.jpg) no-repeat left / cover;
}

	.slide.intro::after {
		font-weight: 400;
	}

	.slide.intro h1 {
		display: flex;
		flex-flow: column;
		padding: .5em;
		margin: 0;
		font-size: 350%;
		line-height: .83;
		letter-spacing: -.04em;
		background: white;
		color: black;
		text-transform: uppercase;
	}

	.slide.intro:not(#intro) h1 {
		align-self: center;
	}

	#intro h1 {
		mix-blend-mode: screen;
	}

		.slide.intro h1 span:nth-child(1) {
			font-size: 115%;
		}

		.slide.intro h1 span:nth-child(3) {
			font-size: 155%;
		}

		.slide.intro h1 span:nth-child(4) {
			font-size: 70%;
			margin-top: .05em;
		}

	#intro .attribution {
		position: absolute;
		bottom: -.5em;
		color: white;
		font-size: 80%;
		font-weight: 300;
	}

		#intro .attribution a {
			text-decoration: none;
		}
/*
.block,
.blocks div {
	display: flex;
	padding: 1em;
	margin-bottom: 1em;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	line-height: 1.1;
	letter-spacing: -.05em;
	background: white;
}

	.block .block,
	.blocks div .block,
	.blocks div div {
		background: var(--color-magenta);
		margin: 1em;
	} */
/*
@keyframes fall {
	from { transform: translateY(-160vh); }
}

@keyframes pos {
	10% { left: 10vw }
	20% { left: 80vw }
	30% { left: 50vw }
	40% { left: 30vw }
	50% { left: 85vw }
	60% { left: 20vw }
	70% { left: 70vw }
	80% { left: 0vw }
	90% { left: 60vw }
	to { left: 50vw }
}

.future.slide {
	overflow-y: hidden;
}

.future.slide h1::before {
	content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="140"><text style="font-size:90px" y="1em">🔮</text></svg>');
	position: absolute;
	bottom: -50vh;
	animation: fall 3s infinite ease-in, pos 30s steps(1) infinite;
	filter: drop-shadow(0 10px 10px rgba(0,0,0,.5));
}

.flipped-emoji {
	display: inline-block;
	transform: scaleX(-1);
} */
#svg-eyes {
	background: hsl(20, 40%, 70%);
	--font-size-multiplier: .8;
}

	#svg-eyes svg {
		width: 90vw;
	}

	#svg-eyes #eye-white {
		fill: white;
	}

	#svg-eyes #iris {
		stroke: hsl(200, 50%, 50%);
		stroke-width: 14;
		fill: black;
	}

	#svg-eyes .second-eye {
		x: 150px;
	}

meter {
	display: inline-block;
	vertical-align: baseline;
}

	meter::-webkit-meter-bar {
		background: transparent;
	}

meter.stars {
	width: 5em;
	height: 1em;
	--background-params: left / auto 100%;
	background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" fill="white" fill-opacity=".2">\
		<text style="font-size:90px" y="1em">★</text></svg>') 0 / auto 100%;
}

	meter.stars::-webkit-meter-optimum-value {
		background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" fill="white">\
			<text style="font-size:90px" y="1em">★</text></svg>') 0 / auto 100%;
	}

#blending-modes {
	flex-flow: row;
	/* background: radial-gradient(hsl(200, 15%, 20%), hsl(200, 15%, 10%));
	background-size: 53% 100%;
	background-repeat: no-repeat;
	background-color: transparent; */
	background: none;
	--text-color: white;
}

[id=blending-modes] * {
	color: var(--text-color);
}

	#blending-modes .demo {
		--height: 70vh;
		--offset: .25;
		--offset-width: calc(var(--offset) * var(--height));
		--margin: calc(100vh - var(--offset-width) - var(--height));
		--width: calc(100vw - var(--offset-width) - var(--margin));

		position: relative;
		margin: calc(-1 * var(--offset-width)) 0 0 calc(-1 * var(--offset-width));
		font-size: 150%;
	}

	.light-background .background,
	.light-foreground .foreground,
	.light-result     .intersection {
		--text-color: black;
	}

		#blending-modes input {
			background: none;
			border: 0;
			color: var(--text-color);
		}

		#blending-modes .demo > div {
			display: flex;
			flex-flow: column;
			justify-content: flex-start;
			width: var(--width);
			height: var(--height);
		}

		#blending-modes .demo button {
			position: absolute;
			top: 0;
			right: calc(-1 * var(--offset-width));
			padding: 0;
			line-height: 1;
			font-size: calc(.65 * var(--offset-width));
			border: none;
			background: none;
		}

			#blending-modes .demo button:not(:hover) {
				filter: grayscale();
			}

		#blending-modes div.foreground {
			position: absolute;
			top: var(--offset-width);
			left: var(--offset-width);
			justify-content: flex-end;
		}

		#blending-modes div.background {

		}

		#blending-modes .demo .intersection {
			position: relative;
			z-index: 1;
			display: flex;
			flex-flow: row;
			align-items: flex-start;
			margin: auto 0 0 var(--offset-width);
			width: calc(var(--width) - var(--offset-width));
			height: calc(var(--height) - var(--offset-width));
			box-sizing: border-box;
			padding: .3em;
		}

			#blending-modes:not(.light-result) .demo .intersection {
				--text-color: white;
			}

			.intersection select {
				border: none;
				color: var(--text-color);
			}

			.light-result .intersection select {
				background: hsla(0,0%,100%,.5);
			}

			#blending-modes .demo label {
				margin-right: auto;
				color: var(--text-color);
			}

				#blending-modes .demo label span {
					display: block;
					font-size: 60%;
					line-height: 1;
					font-weight: bold;
				}

			#blending-modes .math {
				font-size: 70%;
			}

					#blending-modes .math .num {
						display: inline-block;
						font-weight: bold;
						min-width: 2.6em;
					}

					.math tr:nth-child(1) .num {
						color: hsl(0, 100%, 80%);
					}

					.math tr:nth-child(2) .num {
						color: hsl(90, 100%, 80%);
					}

					.math tr:nth-child(3) .num {
						color: hsl(210, 100%, 80%);
					}

					.light-result .math tr:nth-child(1) .num {
						color: hsl(0, 100%, 40%);
					}

					.light-result .math tr:nth-child(2) .num {
						color: hsl(90, 100%, 30%);
					}

					.light-result .math tr:nth-child(3) .num {
						color: hsl(210, 100%, 45%);
					}

				#blending-modes .math .result {

				}

.takeaway.slide {

}

	.takeaway.slide h1,
	.takeaway.slide ul {
		font-weight: 300;
		font-size: 200%;
		line-height: 1.2;
		list-style: none;
		text-align: center;
	}

	.takeaway.slide ul li {
		padding: .2em 0 0;
	}

	.takeaway.slide ul li + li::before {
		content: "and";
		display: block;
		color: orange;
		text-align: center;
		font-weight: bold;
		font-size: 40%;
		background: linear-gradient(orange, orange) left, linear-gradient(orange, orange) right;
		background-position-y: 55%;
		background-repeat: no-repeat;
		background-size: calc(50% - 3ch) 2px;
		text-transform: uppercase;
	}

		.takeaway.slide .label {
			display: block;
			width: fit-content;
			padding: .2em .5em;
			margin: 0 auto .5em;
			background: orange;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 60%;
		}

		.takeaway.slide .label span {
			font-weight: 300;
		}

@keyframes pulse {
	to { transform: scale(1.4); }
}
span.heart {
	display: inline-block;
	animation: pulse .2s infinite alternate;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

	td, th {
		padding: 0 .3em;
	}

	td {
		border: 1px solid rgba(0,0,0,.1);
	}

	td:not(:first-child) {
		border-top: none;
	}

@media (max-width: 800px) {
	tr, td, th, thead {
		display: block;
	}

	table {
		display: flex;
		overflow: hidden;
	}

		tr {
			margin: .2em 0;
		}

		thead {
			--rows: 5;
			--height: calc(1.67em * var(--rows));
			text-shadow: 0 var(--height), 0 calc(var(--height) * 2), 0 calc(var(--height) * 3);
		}

		th {
			text-align: left;
		}
}

.🦄 {
	font-size: 200%;
}

section.secret {
	counter-increment: secret;
}

#cutout-text div {
	display: flex;
	flex-flow: row;
	margin-right: auto;
	font-size: calc(10vw + 100%);
}

	#cutout-text h1 {
		position: relative;
		width: 2.6em;
		padding: .2em;
		margin: 0;
		text-transform: uppercase;
		white-space: pre-line;
		background: white;
		color: black;
		line-height: .9;
		mix-blend-mode: screen;
		font-size: 100%;
	}

		#cutout-text div::before {
			content: counter(secret);
			display: flex;
			align-items: center;
			padding: 0 .02em .03em .05em;
			background: black;
			color: white;
			mix-blend-mode: multiply;
			font-weight: bold;
			font-size: 185%;
			line-height: .5;
		}

		#cutout-text h1::first-line {
			font-size: 60%;
		}

@keyframes rainbow-bg {
	from, to {
		background-color: hsl(0, 100%, 90%);
	}

	20% {
		background-color: hsl(50, 100%, 80%);
	}

	40% {
		background-color: hsl(80, 100%, 80%);
	}

	60% {
		background-color: hsl(180, 80%, 80%);
	}

	80% {
		background-color: hsl(320, 80%, 80%);
	}
}

#character-images {
	--tile: 300px;
	--tile-y: calc(.7 * var(--tile));
	--no2: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg">\
		<text style="font: bold 90px/1 Helvetica Neue, sans-serif" y=".8em" fill-opacity=".5">№2</text></svg>');
	background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg">\
		<text font-size="100" x=".25em" y=".8em">💩</text></svg>') 0 0,
		url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg">\
			<text font-size="100" x=".25em" y=".8em">🦄</text></svg>')  calc(var(--tile) / 2) calc(var(--tile-y) / 2),
		var(--no2) calc(var(--tile) / 2) 0,
		var(--no2) 0 calc(var(--tile-y) / 2),
		hsl(40, 100%, 80%);
	background-size: var(--tile) var(--tile-y);
	animation: rainbow-bg 6s linear infinite;
}

	#character-images h1 {
		width: 6em;
		font-weight: bold;
		text-transform: uppercase;
	}

		#character-images h1::first-line {
			font-size: 80%;
		}

#fancy-borders {}

		#fancy-borders h1 {
			width: 5.5em;
			padding: .5em 0 .3em .5em;
			color: black;
			background: gold;
			color: #0ac;
			font-size: 400%;
			text-transform: uppercase;
			text-align: left;
			text-indent: -.05em;
		}

		#fancy-borders:target h1 {
			background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg">\
				<style>\
				@keyframes dashes {\
					to {stroke-dasharray: 200 50}\
				}\
				@keyframes marching-ants {\
					to { stroke-dashoffset: -250px; }\
				}\
				</style>\
				<linearGradient id="g" gradientTransform="rotate(45)">\
					<stop stop-color="gold" />\
					<stop stop-color="#0ac" offset="1" />\
				</linearGradient>\
				<rect width="100%" height="100%" \
				      stroke="url(#g)" stroke-width="100" stroke-dasharray="200 0" fill="none"\
					  style="animation: dashes 3s 2s forwards, marching-ants 1s 2.1s linear infinite;" \
					   />\
			</svg>');
		}

			#fancy-borders h1::first-line {
				/* rgb(255, 215, 0) rgb(0, 170, 204) */
				color: rgb(128, 193, 102);
				font-size: 152%;
				line-height: .7;
			}

#line-headings {

}

@keyframes noflex {
	from, 50% { flex: 1; }
	to { flex: 0; }
}

	#line-headings h1,
	#line-headings span {
		display: flex;
		align-items: center;
		width: 100%;
		box-sizing: border-box;
		text-transform: uppercase;
		padding: 0;
		background: none;
		color: black;
		margin: 0;
	}

	#line-headings span {
		font-size: 800%;
		line-height: 1;
		font-weight: 100;
		color: hsl(330, 100%, 30%);
	}

		#line-headings h1::before,
		#line-headings h1::after,
		#line-headings span::before,
		#line-headings span::after {
			content: "";
			background: currentColor;
			height: .1em;
			flex: 1;
			margin: 0 .2em;
			animation: noflex 3s 0s ease-in-out infinite alternate;
		}

		#line-headings span::before,
		#line-headings span::after {
			--stripe: 3px;
			height: .3em;
			background: repeating-linear-gradient(-45deg, currentColor 0 var(--stripe), transparent 0 calc(2 * var(--stripe)));
		}

		#line-headings h1::before,
		#line-headings span::before {
			margin-left: 0;
		}

		#line-headings h1::after {
			margin-right: 0;
			animation-delay: 1.5s;
		}

		#line-headings span::before {
			animation-delay: .5s;
		}

		#line-headings span::after {
			animation-delay: 2s;
		}
