/* @font-face {
	font-family: 'Icons';
	font-style: normal;
	font-weight: 400;
	src: url("https://projects.verou.me/talks/shared/fonts/slide-icons.woff2") format('woff2');
} */

* {
	text-decoration-color: inherit;
}

html {
	--font-mono: Consolas, Monaco, 'Andale Mono', monospace;
	--font-body: 'Helvetica Neue', sans-serif;
	--font-heading: var(--font-body);
	--font-handwritten: 'Reenie Beanie', Marker Felt, cursive;
	--default-slide-background: radial-gradient(transparent, rgba(0,0,0,.7)) hsl(200, 15%, 20%);
}

body {
	font: 100 100%/1.5 var(--font-body);
	font-family: var(--font-body);
}

body, .transparency {
	background: linear-gradient(45deg, silver 25%, transparent 25%, transparent 75%, silver 75%),
	            linear-gradient(45deg, silver 25%, transparent 25%, transparent 75%, silver 75%) 20px 20px;
	background-color: #eee;
	background-size: 40px 40px;
}

h1 {
	font-weight: bold;
	line-height: 1.2;
}

a {
	color: inherit;
}

strong, b {
	font-weight: bold; /* FF is weird */
}

p + p {
	margin-top: 0;
}

code, textarea, pre, div.editor {
	margin: 0;
	font: 100%/1.4 var(--font-mono);
	font-family: var(--font-mono);
	-moz-tab-size: 3;
	tab-size: 3;
	text-align: left;
}

div.prism-live.prism-live {
	font-size: clamp(16px, calc(var(--font-size-multiplier, 1) * 100%), 28px);
}

pre {
	overflow: auto;
}

	pre.delayed > code.delayed {
		opacity: 1;
	}

	pre > code {
		font-size: inherit;
	}

pre + pre {
	margin-top: 1.5em;
}

input:not([type=file]),
textarea:not([class]) {
	font: inherit;
	color: inherit;
}

	input[type="range"][orient="vertical"] {
		-webkit-appearance: slider-vertical;
		writing-mode: bt-lr;
	}

	input:not([type]),
	input[type="text"],
	input[type="email"],
	input[type="tel"],
	textarea:not([class]) {
		background: white;
		padding: 0 .3em;
		border: .05em solid hsl(200, 40%, 80%);
	}

button {
	font: inherit;
	cursor: pointer;
}

.slide {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 2.5rem;
	background-color: black;
	background: var(--default-slide-background);
	color: white;
	text-decoration-color: hsla(0,0%,100%,.5);
}

@media (max-width: 1024px) {
	.slide {
		padding: 3vmin;
	}
}

	.slide[data-source]::after {
		color: black;
		text-shadow: none;
	}

	.white.slide {
		background: white;
		color: black;
	}

	.light.slide,
	.demo.slide:where(:not(.minimal)) {
		background: hsl(200, 40%, 80%);
		color: black;
	}

	.slide > h1 {
		text-align: center;
		margin: 0 0 .6em;
		font-size: 200%;
		letter-spacing: -.03em;
	}

	.slide h2 {
		color: yellowgreen;
		font-size: 120%;
	}

.image.slide > h1:only-child,
.image.slide > .caption,
.iframe.slide > h1 {
	/*bottom: .5em;
	margin: 0;*/
	text-shadow: none;
	font-weight: 100;
	background: rgba(0,0,0,.5);
	backdrop-filter: blur(4px);
}

.delayed.displayed,
.delayed-children > .displayed {
	opacity: 1;
}

.amp {
	font-family: Baskerville, var(--font-heading);
	font-style: italic;
	display: inline-block;
}

section > header.slide,
.header.thumbnail {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	--background-size: 5em;
	background: var(--icon-svg) 0 0 / var(--background-size) var(--background-size),
	var(--icon-svg-2) calc(var(--background-size) / 2) calc(var(--background-size) / 2) / var(--background-size) var(--background-size) var(--accent1);
	color: white
}

:is(section > header.slide,.header.thumbnail):target {
		display: flex;
	}

:is(section > header.slide,.header.thumbnail) > h1 {
		margin: auto;
		padding: .5em .7em;
		background: black;
		text-align: center;
		line-height: 1.2;
		font-weight: 100;
		letter-spacing: normal;
	}

:is(section > header.slide,.header.thumbnail) h1[data-group] {
		--group-name: attr(data-group);
	}

:is(section > header.slide,.header.thumbnail) h1::before {
		content: var(--group-name);
		white-space: nowrap;
		display: block;
		width: min-content;
		padding: .3em .5em;
		border: .1em solid black;
		border-radius: .15em;
		margin: -1.5em auto .5em;
		font-size: 50%;
		font-weight: bold;
		text-transform: uppercase;
		background: var(--group-background, var(--accent2));
	}

.header.thumbnail {
	width: 100%;
	height: 100%;
}





#indicator {
	background: transparent;
	text-shadow: none;
	font-weight: 100;
}

::selection {
	background: hsl(335, 100%, 40%);
	color: white;
}

footer.ref a {
	position: absolute;
	bottom: 5vmin;
	text-decoration: none;
	font-size: 75%;
}

/* Syntax highlighting */

code.de-emphasize {
	opacity: .4;
}

.hint {
	position: absolute;
	font-size: .8rem;
	font-weight: bold;
	line-height: 1;
	color: rgba(0,0,0,.2);
	mix-blend-mode: multiply;
}

	.slide:not(.horizontal) .hint {
		bottom: -5px;
		right: 10px;
	}

	.slide.horizontal .hint {
		top: -5px;
		left: 10px;
	}

blockquote {
	position: relative;
	font-style: italic;
	width: 20em;
}

	blockquote::before {
		content: "❝";
		position: absolute;
		right: 100%;
		top: -.3em;
		margin-right: .2em;
		font-size: 400%;
		color: #f06;
		font-style: normal;
	}

	blockquote .cite {
		text-align: right;
		font-style: normal;
		font-size: 60%;
		font-weight: bold;
		color: #f06;
	}

		blockquote .cite a:not(:hover) {
			text-decoration: none;
		}

/* Darken code highlighting in notes */
details.notes code .token {
	filter: brightness(80%);
	text-shadow: none;
}

ul.do,
li.do {
	list-style: '✅ ';
}


ul.dont,
li.dont {
	list-style: '🚫 ';
}

ul.warn,
li.warn {
	list-style: '⚠️ ';
}

.thumbs-down {
	list-style: '👎🏼 '
}

.thumbs-up {
	list-style: '👍🏼 '
}
