/* Keystrokes */
kbd {
	display: inline-block;
	padding: 0 .4em;
	border: 1px solid rgb(0 0 0 / .8);
	border-radius: .15em;
	box-shadow: 0 0 0 2px white inset, 0 .05em .2em rgb(0 0 0 / .5);
	color: black;
	background-color: hsl(0 0% 100% / .85);
	font: 70%/1.6 sans-serif;
	font-family: inherit;
	text-shadow: 0 1px 0 white;

	& + kbd {
		margin-inline-start: .1em;
	}
}
