<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>What the color?!</title>
	<link rel="icon" href='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><text y=".9em" font-size="90">🎨</text></svg>' />

	<link href="talk.css" rel="stylesheet" />
	<script src="importmap.js"></script>
	<script src="talk-sync.js"></script>
	<script src="talk.js" type="module"></script>
</head>
<body class="language-css" data-markdown-elements="details.notes, .md, .md-children > :not(.no-md)">

<header class="slide dont-resize" id="intro">
	<div class="raining-words">
		<code>hwb()</code>
		<code>lab()</code>
		<code>color(srgb)</code>
		<code>lch()</code>
		<code class="s">color(display-p3)</code>
		<code>oklab()</code>
		<code class="m">color(rec2020)</code>
		<code>oklch()</code>
		<code class="s">hsl(none none none / 50%)</code>
	</div>
	<div class="content delayed disappear-current">
		<h1>What the color?!</h1>
		<div class="by">
			by <a href="http://lea.verou.me">Lea Verou</a>
			<small>CSS WG, <wbr>CSS Color co-editor, <wbr><a href="https://colorjs.io">Color.js</a> co-founder</small>
			<small><a href="http://lea.verou.me"><strong>lea.verou.me</strong></a> &bull; <strong>lea＠verou.me</strong></small>
		</div>
	</div>
	<div class="emoji delayed-children">
		<span>😵‍💫</span>
		<span>🥴</span>
		<span>🫠</span>
	</div>
	<div class="raining-words">
		<code class="s">linear-gradient(in oklab)</code>
		<code>lab()</code>
		<code class="m">color-mix()</code>
		<code>lch()</code>
		<code>color(display-p3)</code>
		<code class="s">linear-gradient(in oklch longer hue)</code>
		<code>color(rec2020)</code>
		<code>oklch()</code>
	</div>

	<details class="notes">
		Raise your hand if you have been confused around the developments in CSS Color in the last few years.
		Why do we need all of these? What are they good for? Should I care?
	</details>
</header>

<article class="slide">
	<color-picker color="oklch(50% 0 0)"></color-picker>

	<details class="notes">
		Or maybe you tried to use these new color spaces and were baffled at the result.
		Why does changing the lightness not seem to work for certain values?
		Shouldn't 0 be black and 100 be white? Why are we getting these extremely bright colors instead?

		TODO: Make the slider automatically do:
		L: 100% (show white)
		L: 0% (show black)
		Increase C
		L: 100% (wtf?!)
	</details>
</article>

<article class="slide">
	<img src="images/mbp-vs-print.jpg" alt="">
	<details class="notes">
		But even beyond CSS, this talk will help you figure out answers to longstanding questions such as "why are printed colors so washed out when they looked lovely on my screen"?
	</details>
</article>

</article>
<article class="slide">
	<img src="images/highlight.jpg" alt="">
	<details class="notes">
		Or why does it seem so impossible to recreate certain colors with a color picker on a screen?
	</details>
</article>

<article class="slide" id="not-as-pictured">
	<img src="images/color-not-as-pictured-1.png" alt="">
	<img src="images/color-not-as-pictured-2.png" alt="" class="delayed">
	<img src="images/color-not-as-pictured-3.png" alt="" class="delayed">
	<img src="images/color-not-as-pictured-4.png" alt="" class="delayed">
	<img src="images/color-not-as-pictured-5.png" alt="" class="delayed">

	<details class="notes">
		Or why was the t-shirt I bought a different color than what it looked like on Amazon?
	</details>
</article>

<article class="cyan slide" id="turquoise-dress">
	<img src="images/turquoise-dress.png" alt="" class="browser">
	<details class="notes">
		The opposite happens too.
		This is what this dress looked like on Amazon.
		Its real color is way brighter and more vibrant, right?
		This talk will explain why this was not their fault — bright turquoise is a notoriously hard color to reproduce on a screen — it's not just fluorescent colors.
	</details>
</article>

<section>
	<header class="slide">
		<h2>Device RGB</h2>

		<details class="notes">
			To understand all of this, we first need to go back to the beginning.
		</details>
	</header>

	<article class="slide" id="displays" v-app>
		<div class="flex" :style="{'--r': r/255, '--g': g/255, '--b': b/255, '--scale': scale / 100}">
			<figure class="crt display">
				<img src="images/crt.png" alt="">
				<figcaption>First color CRT (1954)</figcaption>
			</figure>
			<figure class="lcd display">
				<img src="images/lcd.png" alt="">
				<figcaption>Modern high-end P3 LCD</figcaption>
			</figure>

		</div>
		<div class="flex" style="align-self: stretch" :style="{'--r': r/255, '--g': g/255, '--b': b/255}">
			<label class="r">Red: <input type="range" name="r" v-model="r" min="0" max="255" value="255" class="color-slider"></label>
			<label class="g">Green: <input type="range" name="g" v-model="g" min="0" max="255" value="255" class="color-slider"></label>
			<label class="b">Blue: <input type="range" name="b" v-model="b" min="0" max="255" value="255" class="color-slider"></label>


			<label>
				Scale:
				<input type="range" v-model="scale" min="20" max="200" value="100" class="color-slider">
			</label>
		</div>

		<details class="notes">
			Red, green and blue is how our computer screens produce color.
						Imagine three lightbulbs.
			One red, one green, and one blue, each having a dimmer.
			This is basically how pixels are made.
			And this mechanism has remained largely unchanged since the first color screens in the 50s.
			We just got more levels for these dimmers, and their max brightness got higher.
			But ultimately, every pixel on your screen is still three teeny tiny dimmable lightbulbs.

			Now, there are A LOT of these lightbulbs in digital screens.
			Hundreds of thousands in early screens, several million in modern ones.
		</details>
	</article>

	<article class="slide dont-resize">
		<div class="flex" style="gap: 1em">
			<color-swatch size="large" style="min-width: 10em">
				<input value="rgb(255, 0, 140)" />
			</color-swatch>
			<div>
				<table class="fr2">
					<style>
						@scope {
							:scope {
								font-size: 50%;
								align-self: start;
							}

							td {
								font-family: var(--font-monospace);
							}

							tr {
								color: oklch(from var(--accent-color) clamp(0, l, .5) c h);
							}
						}
					</style>
					<thead>
						<tr>
							<th></th>
							<th>Decimal</th>
							<th>Binary</th>
							<th class="delayed" data-index="2">Hex</th>
						</tr>
					</thead>
					<tr class="red">
						<th>R</th>
						<td>255</td>
						<td>1111&nbsp;1111</td>
						<td class="delayed" data-index="2">0xFF</td>
					</tr>
					<tr class="green">
						<th>G</th>
						<td>0</td>
						<td>0000&nbsp;0000</td>
						<td class="delayed" data-index="2">0x00</td>
					</tr>
					<tr class="blue">
						<th>B</th>
						<td>140</td>
						<td>1000&nbsp;1100</td>
						<td class="delayed" data-index="2">0x8C</td>
					</tr>
				</table>
				<div class="delayed" data-index="10" style="font-size: var(--font-size-2xl); white-space: nowrap;">
					= <code style="background: none; padding: 0; font-weight: bold;">#<span class="red">FF</span><span class="green">00</span><span class="blue">8C</span></code>
				</div>
			</div>
			<table id="binary-to-hex" class="borders delayed">
				<style>
					@scope {
						:scope {
							font-size: 40%;

							caption {
								font-size: 80%;
								white-space: nowrap;
							}

							tbody {
								font-family: var(--font-monospace);

								th, td {
									padding-block: 0;
									font-weight: inherit;
								}

								td {
									font-weight: bold;
								}
							}

						}

					}
				</style>
				<caption>Binary&thinsp;→&thinsp;Hex</caption>
				<!-- <thead>
					<tr>
						<th>Binary</th>
						<th>Hex</th>
					</tr>
				</thead> -->
				<tbody>
					<tr>
						<th>0000</th>
						<td>0</td>
					</tr>
					<tr>
						<th>0001</th>
						<td>1</td>
					</tr>
					<tr>
						<th>0010</th>
						<td>2</td>
					</tr>
					<tr>
						<th>0011</th>
						<td>3</td>
					</tr>
					<tr>
						<th>0100</th>
						<td>4</td>
					</tr>
					<tr>
						<th>0101</th>
						<td>5</td>
					</tr>
					<tr>
						<th>0110</th>
						<td>6</td>
					</tr>
					<tr>
						<th>0111</th>
						<td>7</td>
					</tr>
					<tr>
						<th>1000</th>
						<td>8</td>
					</tr>
					<tr>
						<th>1001</th>
						<td>9</td>
					</tr>
					<tr>
						<th>1010</th>
						<td>A</td>
					</tr>
					<tr>
						<th>1011</th>
						<td>B</td>
					</tr>
					<tr>
						<th>1100</th>
						<td>C</td>
					</tr>
					<tr>
						<th>1101</th>
						<td>D</td>
					</tr>
					<tr>
						<th>1110</th>
						<td>E</td>
					</tr>
					<tr>
						<th>1111</th>
						<td>F</td>
					</tr>
				</tbody>
			</table>
		</div>

		<details class="notes">
			Early computers were not very powerful, so a computation that applied to every single pixel, was very expensive.
			So when we needed to specify a color, it had to be as close to the metal as possible:
			we'd specify the levels of the dimmers directly.
			In fact, we'd go one step further and provide them **directly in binary** — well, in hex which is just a convenient way to write binary numbers!
			Remind you of anything?
		</details>
	</article>

	<article class="slide">

	</article>
</section>

<article class="slide dont-resize" id="failed-oklch-scales">
	<style>
		@scope {
			table {
				tbody {
					.swatch {
						display: flex;
					}
					td {
						--tr-color: var(--color); /* workaround for lack of inherit() */

						.swatch {
							--color: oklch(from var(--tr-color) var(--l) c h);
						}
					}

					td:nth-of-type(1) { --l: 0.97; }
					td:nth-of-type(2) { --l: 0.9; }
					td:nth-of-type(3) { --l: 0.8; }
					td:nth-of-type(4) { --l: 0.7; }
					td:nth-of-type(5) { --l: 0.6; }
					td:nth-of-type(6) { --l: 0.5; }
					td:nth-of-type(7) { --l: 0.4; }

				}
			}
		}
	</style>
	<table>
		<thead>
			<tr>
				<th>Accent color</th>
				<th>L=0.97</th>
				<th>L=0.9</th>
				<th>L=0.8</th>
				<th>L=0.7</th>
				<th>L=0.6</th>
				<th>L=0.5</th>
				<th>L=0.4</th>
			</tr>
		</thead>
		<tbody>
			<script>
				for (let color in colors.accents) {
					document.write(`
						<tr style="--color: var(--color-${color})">
							<th><div class="swatch">${color}</div></th>
							${ `<td><div class="swatch"></div></td>
							 `.repeat(7) }
						</tr>
					`);
				}
			</script>
		</tbody>
	</table>
</article>

<article class="slide">
	<article class="callout">
		<h2>The callout problem</h2>
		<p>Callouts are such an excellent example for design systems, because they use so many different color tokens, and they have so many variations.</p>
	</article>
</article>

<article class="slide">
	<header>
		<h1>This is a plain slide</h1>
		<p class="subtitle">With a header and some content.</p>
	</header>
	<h2>Heading level 2</h2>
	<h3>Heading level 3</h3>
	<ul>
		<li>List item</li>
		<li>Another item</li>
		<li>And another one</li>
	</ul>
</article>

<footer class="slide" id="end">
	<p class="slides">
		<i class="bi bi-easel3-fill"></i>
		Slides at <a href="https://talks.verou.me/whathecolor">talks.verou.me/whathecolor</a>.
		Made with <a href="https://inspirejs.org">InspireJS</a>.
	</p>

	<ul class="info">
		<li>
			<i class="bi bi-link-45deg"></i>
			lea.verou.me
		</li>
		<li>
			<i class="bi bi-mastodon"></i>
			leaverou@front-end.social
		</li>

		<li>
			<i class="bi bi-envelope-fill"></i>
			lea@verou.me
		</li>

		<li>
			<i class="bi bi-twitter"></i>
			<small>(and everywhere else)</small>
			@leaverou
		</li>
	</ul>
</footer>

</body>
</html>
