@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1/font/bootstrap-icons.css");
@import url("client_modules/@inspirejs/core/inspire.css");
@import url("css/theme/theme.css");
@import url("css/fonts.css");
@import url("css/theme.css");
@import url("css/utils.css");
@import url("components/raining-words.css");

@keyframes cover {
	to {
		background-position-x: -200%;
	}
}

:root {
	--p3-red: color(display-p3 1 0 0);
	--p3-green: color(display-p3 0 1 0);
	--p3-blue: color(display-p3 0 0 1);
	--p3-cyan: color(display-p3 0 1 1);
	--p3-magenta: color(display-p3 1 0 1);
	--p3-yellow: color(display-p3 1 1 0);

	/* Tailwind key colors */
	--tw-red: oklch(57.7% 0.245 27.325);
	--tw-orange: oklch(64.6% 0.222 41.116);
	--tw-amber: oklch(82.8% 0.189 84.429);
	--tw-yellow: oklch(85.2% 0.199 91.936);
	--tw-lime: oklch(84.1% 0.238 128.85);
	--tw-green: oklch(72.3% 0.219 149.58);
	--tw-emerald: oklch(76.5% 0.177 163.22);
	--tw-teal: oklch(77.7% 0.152 181.91);
	--tw-cyan: oklch(78.9% 0.154 211.53);
	--tw-sky: oklch(68.5% 0.169 237.32);
	--tw-blue: oklch(54.6% 0.245 262.88);
	--tw-indigo: oklch(51.1% 0.262 276.97);
	--tw-violet: oklch(54.1% 0.281 293.01);
	--tw-purple: oklch(55.8% 0.288 302.32);
	--tw-fuchsia: oklch(66.7% 0.295 322.15);
	--tw-pink: oklch(59.2% 0.249 0.584);
	--tw-rose: oklch(58.6% 0.253 17.585);

	--tw-stone: oklch(55.3% 0.013 58.071);
	--tw-slate: oklch(55.4% 0.046 257.42);
	--tw-zinc: oklch(44.2% 0.017 285.79);
	--tw-gray: oklch(37.3% 0.034 259.73);
}

@function --avoid-range(--n <number>, --min <number>, --max <number>) returns <number> {
	/* result: calc(
		var(--n) +
		sign(var(--n) - var(--min)) * sign(var(--n) - var(--max))) *
		min(abs(var(--n) - var(--min)), abs(var(--n) - var(--max)))
	); */
	result: var(--n);
}

@function --clamp-l(--color <color>, --max-l <number>) returns <color> {
	--avoid-ugly-yellows: if(style(h > 85): max(h, 110), min(h, 85));
	result: oklch(from var(--color) clamp(0, l, var(--max-l)) c var(--avoid-ugly-yellows, h));
}

#intro {
	color-scheme: dark;

	background: linear-gradient(to right in oklch,
		--clamp-l(var(--p3-red), 0.8),
		--clamp-l(var(--p3-yellow), 0.8),
		--clamp-l(var(--p3-green), 0.8),
		--clamp-l(var(--p3-cyan), 0.8),
		--clamp-l(var(--p3-blue), 0.8),
		--clamp-l(var(--p3-magenta), 0.8),
		--clamp-l(var(--p3-red), 0.8)
	) fixed;
	background-size: 200% 100%;
	animation: cover 20s linear infinite;
	overflow: clip;
	justify-content: space-around;

	.content {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		position: relative;
		justify-self: center;
		z-index: 3;
		transition-duration: 1s;

		h1 {
			position: relative;
			font-size: 20vmin;
			line-height: 1;
			letter-spacing: -.02em;
			text-shadow: .03em .03em black;
		}
	}

	.emoji {
		display: flex;
		font-size: 40vh;
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 50%;
		translate: -50% -50%;
		line-height: 1;
		text-shadow: 0 .2em .5em rgb(0 0 0 / .5);
	}

	.by {
		text-align: center;
		color-scheme: light;
		color: canvastext;
		font-size: 150%;
		background: white;
		align-self: center;
		padding-inline: 3rem;
		padding-block: .5rem 1.5rem;
		box-shadow: .5rem .5rem black;
		corner-shape: bevel;
		border-radius: 3rem / 100% 0 100% 0;

		> a {
			font-weight: bold;
			letter-spacing: -.01em;
		}

		small {
			display: block;
			font-size: 50%;
			font-weight: 500;
		}
	}

	.raining-words {
		code {
			background: none;
			padding: 0;
			font-size: 200%;
			font-weight: bold;
			color: white;

			&.s {
				font-size: 80%;
			}

			&.m {
				font-size: 150%;
			}

			&:not(.s, .m) {
				z-index: 2;
				color: black;
			}

			.token.function {
				color: inherit;
			}

			.token.punctuation {
				color: inherit;
				opacity: .5;
			}
		}
	}
}
